html, body
{
    margin: 0px;
    height: 100%;
}

html
{
    font-size: 18px;
    height: 100%;
    font-family: calibri, sans-serif;
}

section
{
    width: 100%;
    height: 100%;
    position: relative;
}

section:nth-child(1)
{
    background-color: #FDDB69;
}

section:nth-child(2)
{
    background-color: #0DBDA5;
}

section:nth-child(3)
{
    background-color: #FF43AE;
}

form
{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 75%;
    min-width: 480px;
    max-width: 720px;
    height: 7rem;
    padding: 0px 1rem;
    position: absolute;
    box-sizing: border-box;
}

@media(max-width: 520px)
{
    form
    {
        width: 100%;
        min-width: 0px;
    }
}

form > h2
{
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    
    margin: 0px;
    display: block;
}

form > input[type=text]
{
    font: inherit;
    font-size: 1.5rem;
    
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem 0rem;
    box-sizing: border-box;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #BBB;
}

form > input[type=text]:focus
{
    outline: none;
}

form > small
{
    font-size: 0.9rem;
    text-align: center;
    display: block;
}

form > small > span
{
    white-space: nowrap;
}
