---
---

html, body
{
    height: 100%;
}

*
{
    margin: 0px;
}

@import "fonts.scss";
@import "colors.scss";
@import "mixins.scss";
@import "sections.scss";

:root
{
    font-family: open-sans, sans-serif;
}

span
{
    white-space: nowrap;
}
