@font-face
{
    font-family: chatype;
    font-style: normal; font-weight: normal;
	src: url("fonts/chatype.ttf") format("truetype");
}

@font-face
{
    font-family: open-sans;
    font-style: normal; font-weight: normal;
	src: url("fonts/open-sans.ttf") format("truetype");
}

@font-face
{
    font-family: goldfish;
    font-style: normal; font-weight: normal;
	src: url("fonts/goldfish.ttf") format("truetype");
}
