#blurb
{
    background-color: $yellow;
    
    padding: 2rem;
    box-sizing: border-box;
    
    p
    {
        text-indent: 4rem;
        text-align: justify;
    }
    
    #members
    {
        margin: 1rem 0rem;
        b
        {
            display: block;
        }
        
        .member
        {
            width: 5rem;
            height: 5rem;
            
            display: inline-block;
            
            img
            {
                height: 100%;
            }
        }
    }
}
