section
{
    width: 100%;
    min-height: 100%;
    position: relative;
}

@import "./splash.section.scss";
@import "./information.section.scss";
@import "./browse.section.scss";
@import "./submission.section.scss";
