.section
{
    min-height: 100%;
    position: relative;
    
    .content
    {
        margin: auto;
        padding: 2rem;
        max-width: 640px;
    }
}

@import "./splash.section.scss";
@import "./read.section.scss";
@import "./browse.section.scss";
