.section
{
    .content
    {
        margin: auto;
        max-width: 40rem;
        padding: 2rem 1rem;
    }
}

@import "./splash.section.scss";
@import "./read.section.scss";
@import "./browse.section.scss";
