#submission
{
    background-color: $blue;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    form
    {
        text-align: center;
        
        width: 75%;
        padding: 1rem;
        max-width: 720px;
        box-sizing: border-box;

        @media(max-width: 480px)
        {
            width: 100%;
        }
        
        b
        {
            margin: 0px;
            display: block;
            
            font-size: 2rem;
            font-family: chatype, serif;
        }
        
        small
        {
            font-size: 1rem;
        }

        input[type=text]
        {
            font: inherit;
            font-size: 1.5rem;
            text-align: center;
            
            width: 100%;
            display: block;
            padding: 0.25rem;
            margin: 0.5rem 0rem;
            box-sizing: border-box;
            
            border-width: 1px;
            border-color: #BBB;
            border-style: solid;
            border-radius: 0.5rem;
            
            &:focus
            {
                outline: none;
            }
        }
    }
}
