#submission
{
    background-color: $red;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    .content
    {
        width: 100%;
        padding: 2rem;
        max-width: 640px;
        
        b
        {
            font-size: 2rem;
            font-family: chatype;
            
            display: block;
            margin-bottom: 0.5rem;
        }
        
        small
        {
            font-size: 1rem;
        }

        input[type=text]
        {
            font: inherit;
            font-size: 1.5rem;
            text-align: center;
            
            width: 100%;
            display: block;
            padding: 0.25rem;
            margin: 0.5rem 0rem;
            
            border-width: 1px;
            border-color: #BBB;
            border-style: solid;
            border-radius: 0.25rem;
            
            &:focus
            {
                outline: none;
            }
        }
    }
}
