#splash-section
{
    background-size: cover;
    background-color: $yellow;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url("images/mocsarcade.jpg");
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    div
    {
        padding: 1rem;
        
        color: $white;
        text-align: center;
        
        h1
        {
            font-size: 72px;
            font-family: goldfish;
            @include text-outline(4px, $black)
        }
        
        h2
        {
            font-size: 16px;
            font-family: goldfish;
            @include text-outline(3px, $black)
        }
    }
}
